<%- include("partials/header.ejs") %>
<%- include("main-header.ejs") %>

<div class="main-block">
  <h1>ABOUT</h1>
  <p>
    Got no time for coming up with good baby names? <br>
    No problem! Generate and claim your favorite baby names ever in a few seconds! <br>
  </p>
  <h2>Features</h2>
    
  <h2>List of Contributors</h2>
  <ul class="contributors">
    <li>⚜ Rikuya Osawa ⚜</li>
    <li>⚜ Autumn Robinson ⚜</li>
  </ul>

</div>

<%- include("partials/footer.ejs") %>
