<%- include("partials/header.ejs") %>
<%- include("main-header.ejs") %>

<div class="baby-icon">👶</div>

<h1 class="welcome-message">Welcome to Baby Name Generator</h1>

<form action="/name-generator" method="GET">
  <input id="generate-name-btn" type="submit" value="Generate names">
</form>

<div class="edit-form">
  <form action="/edit" method="GET">
    <input id="edit-btn" type="submit" value="Edit names">
  </form>
</div>

<%- include("partials/footer.ejs") %>