<%- include("partials/header.ejs") %>

<header>
  <div class="header-logo">
    <img id="logo" src="images/baby-name-generator-logo.png" alt="baby-icon"/>
  </div>
  <div class="navi-bar">
    <form action="/home" method="GET">
      <input id="home-btn" type="submit" value="HOME">
    </form>
    <form action="/about" method="GET">
      <input id="about-btn" type="submit" value="ABOUT">
    </form>
  </div>
</header>
