<%- include("../partials/header.ejs") %>
<%- include("../partials/main-header.ejs") %>

<body class="edit-main">

  <div class="main-block">
    <h1 class="edit-main-header">Edit Names</h1>
    <form action="/edit/database" method="get">
      <input id="see-database-btn" type="submit" value="SEE DATABASE">
    </form>
    <form action="/edit/add" method="get">
      <input id="add-name-btn" type="submit" value="ADD">
    </form>
  </div>

<body>

<%- include("../partials/edit-footer.ejs") %>