body.edit-main {
	background-color: #20014b;
	color: white;
	width: 100%;
	height: 100%;
}

.edit-header {
	background-color: #20014b;
	border-bottom: 2px solid black	;
	padding-bottom: 5px;
}

.db-block {
	position: absolute;
	top: 100px;
	z-index: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	width: 80%;
	height: 100%;
	border-radius: 30px;
	box-shadow: 2px 2px 13px 13px rgb(219, 197, 255);
	padding: 30px 0;
}

.db-block:hover {
  	box-shadow: 2px 2px 13px 13px #a169f0;
}

.edit-main-header {
	color: #9c58fc;
}

#see-database-btn,
#add-name-btn,
#delete-name-btn {
	background-color: rgb(255, 255, 255);
	color: black;
	font-size: 15px;
	width: 180px;
	border-radius: 35px;
	margin: 10px;
	padding: 18px 8px;
}

#see-database-btn:hover,
#add-name-btn:hover {
	background-color: rgb(229, 229, 229);
}

.db-btn-container {
	display: flex;
}

.db-btn-container form {
	margin: 10px;
}

.db-btn-container #db-boy-btn {
	background-color: rgb(45, 166, 206);
	color: black;
	font-size: 15px;
	width: 160px;
	border-radius: 35px;
	padding: 18px 8px;
}

.db-btn-container #db-boy-btn:hover {
	background-color: rgb(35, 121, 150);
}

.db-btn-container #db-girl-btn {
	background-color: rgb(245, 52, 110);
	color: black;
	font-size: 15px;
	width: 160px;
	border-radius: 35px;
	padding: 18px 8px;
}

.db-btn-container #db-girl-btn:hover {
	background-color: rgb(195, 44, 89);
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 70%;
	margin: 15px;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

th {
	background-color: #1b0041;
	color: white;
}

tr:nth-child(even) {
  	background-color: #e2cdff;
	color: black;
}

tr:nth-child(odd) {
  	background-color: #d4b5ff;
	color: black;
}

#delete-name-btn:hover {
	background-color: rgb(255, 195, 195);
}

h1.add-name-header {
	color: #9c58fc;
	margin: 10px 0;
}

#add-name-form label {
	color: white;

}

#add-name-form input[type="text"], select {
	font-size: 17px;
	width: 100%;
	color: black;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

#add-name-form input[type="radio"] {
	margin: 20px 0 0 15px;
	height: 20px;
	width: 15px;
}

#add-name-form input[type="submit"] {
	margin: 30px;
}

#add-name-form label {
	font-size: 20px;
}

label#gender-boy {
	color: rgb(168, 219, 251);
}

label#gender-girl {
	color: rgb(251, 168, 168);
}

input#name-submit-btn:hover {
	background-color: rgb(215, 215, 215);
}

.confirmation {
	color: white;
}

.edit-footer {
	z-index: 1;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 3px solid black;
	color: white;
	background-color: #20014b;
}

.edit-footer p {
	display: flex;
	margin-left: 10px;
}