h1.welcome-message {
	display: flex;
	position: relative;
	top: -30px;
	margin: 20px 0 20px 0;
	justify-content: center;
	font-size: 3.5rem;
	width: 1000px;
}

input#generate-name-btn {
	background-color: rgb(255, 255, 255);
	font-size: 15px;
	width: 200px;
	color: rgb(0, 0, 0);
	border: 2px solid rgb(0, 0, 0);
	border-radius: 35px;
	padding: 18px 8px;
}

input#generate-name-btn:hover {
	background-color: rgb(196, 196, 196);
}

.edit-form {
  	position: absolute;
  	bottom: 10px;
}

input#edit-btn {
	background-color: rgb(0, 0, 0);
	font-size: 15px;
	width: 200px;
	border-radius: 35px;
	padding: 18px 8px;
}

input#edit-btn:hover {
  	background-color: rgb(70, 70, 70);
}